.layoutAC1 {
	position: relative;
	margin-top: 0px;
	top: 100px;
	height: 900px;
	float: left;
	width: 80px;
	padding: 12px 12px 0 12px;
	transition-delay: 500ms;
	transition: width 500ms ease-in;
 }

.layoutAC1 > a div span, .layoutAC1 > form {
	display: none;
}

@media screen and (min-width: 975px) {
	.layoutAC1:hover {
		width: 20%;
	}

	.layoutAC1:hover > a div span, .layoutAC1:hover > form {
		display: inline-block;
	}
}

.layoutAC2 {
	position: relative;
	top: 120px;
	float: right;
	width: 70%;
	padding: 10px;
}

.extlinkref {
	display: inline-block;
	width: 100%;
	color: black;
	text-decoration: none;
	text-decoration-style: none;
	margin-bottom: 10px;
	transition: background-color 1.2s ease;
	border-radius: 25px;
}

.extlinkref:hover {
	background-color:#1E90FF;
}

.extbar {
	padding: 5;
	width: 100%;
	height: auto;
	display: inline-block;
}

.extbar span {
	padding-left: 12.5px;
	padding-right: 12.5px;
	text-align: center; 
	color: white;
	font-size: 14px;
}