html, body {
	min-height: 100%;
	height: 100%;
	padding-bottom: 0px;
	position: relative;
}

body {
	margin-top: 0px;
	overflow-y: scroll;
}

#root {
	min-height: 100vh; 
 	overflow: hidden;
 	display: block;
 	position: relative;
}

#aboutbody {
	position: relative;
	height: 2500px;
	bottom: 430px;
	padding: 10px;
	margin-top: 550px; /* move up and down along with the root */
}

#aboutbody div {
	padding-top: 10px;
	padding-bottom: 10px;
}

#projectsbody {
	position: relative;
	height: 1200px;
	bottom: 430px;
	margin-top: 535px; /* move up and down along with the root */
}

footer {
	margin-bottom: -50px;
	height: 200px;
   	width: 100%;
   	background-color: #505050;
   	color: white;
   	text-align: center;
   	position: relative;
   	bottom: 0;
}

#mainfootertext {
	text-align: right;
	font-size: 15px;
	margin-right: 100px;
	margin-bottom: 30px;
}

#mainfootertext a, #mainfootertext a:hover, #mainfootertext a:visited {
	text-decoration: none;
	color: white;
}