html, body {
	min-height: 100%;
	height: 100%;
	padding-bottom: 0px;
	position: relative;
}

body {
	margin-top: 0px;
	overflow-y: scroll;
}

#pagetitle {
	text-align: center;
	font-family: serif;
	font-size: 50px;
	margin: 0px;
	background-color: #505050;
	color: white;
}

#minpagetitle {
	text-align: center;
	font-family: serif;
	font-size: 50px;
	margin: 0px;
	background-color: #505050;
	color: white;
	display: none;
}

@media screen and (max-width: 765px) {
	#pagetitle {
		display: none;
	}

	#minpagetitle {
		display: block;
	}

	.layoutAC1 a button {
		margin-left: 0px;
	}
}

#mainheader {
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: #E1EE10;
}

#root {
	min-height: 100vh; 
 	overflow: hidden;
 	display: block;
 	position: relative;
 	height: 1200px;
 	bottom: 400px;
	margin-top: 400px;  /* move the root up and down */
}

#homebody {
	background-color: white;
	position: relative;
	height: 890px;
	bottom: 410px;
	margin-top: 410px; /* move up and down along with the root */
}

#aboutbody {
	position: relative;
	height: 1200px;
	bottom: 430px;
	margin-top: 550px; /* move up and down along with the root */
}

#projectsbody {
	position: relative;
	height: 1200px;
	bottom: 430px;
	margin-top: 550px; /* move up and down along with the root */
}

nav ul {
	margin: 0px 0px 0px 0px;
	padding: 0;
	border: 2px solid #505050;
	background-color: white;
	list-style-type: none;
	overflow: hidden;
}

nav li {
	box-sizing: border-box;
	float: left;
	text-align: center;
	width: 20%;
	border-right: 2px solid #505050;
	font-size: 14px;
}

nav li a {
	color: black;
	display: block;
	padding: 10px;
	text-decoration: none;
}

nav li:hover {
	background-color: #6ed220;
}

/*
nav li a:hover, nav li a:visited {
	text-decoration: none;
	color: black;
}
*/

footer {
	margin-bottom: -50px;
	height: 200px;
   	width: 100%;
   	background-color: #505050;
   	color: white;
   	text-align: center;
   	position: absolute;
   	bottom: 0;
}

#mainfootertext {
	text-align: right;
	font-size: 15px;
	margin-right: 100px;
	margin-bottom: 30px;
}

#mainfootertext a, #mainfootertext a:hover, #mainfootertext a:visited {
	text-decoration: none;
	color: white;
}